# see AvoidanceParameters description in avoidance_module_data.hpp for description.
/**:
  ros__parameters:
    avoidance:
      # 経路を生成する時の解像度に関するパラメータ。
      # 大きいと荒すぎる経路が生成されるが、小さすぎると計算コストが高くなってしまう。
      resample_interval_for_planning: 0.05       # [m]   元々0.3
      resample_interval_for_output: 0.1          # [m]   元々4.0
      detection_area_right_expand_dist: 0.0             # [m]
      detection_area_left_expand_dist: 0.0              # [m] 元々1.0
      drivable_area_right_bound_offset: 0.0             # [m]
      drivable_area_left_bound_offset: 0.0              # [m]
      object_envelope_buffer: 1.1                       # [m] 元々0.3 実際の障害物の大きさにobject_envelope_buffer分の大きさを足して、擬似的に障害物を大きく

      # avoidance module common setting
      enable_bound_clipping: true
      enable_avoidance_over_same_direction: true
      enable_avoidance_over_opposite_direction: true
      enable_update_path_when_object_is_gone: false
      enable_force_avoidance_for_stopped_vehicle: false
      enable_safety_check: false
      enable_yield_maneuver: false
      disable_path_update: true

      # for debug
      publish_debug_marker: true # 元々false
      print_debug_info: false

      # avoidance is performed for the object type with true
      target_object:
        car: true
        truck: true
        bus: true
        trailer: true
        unknown: true # 元々false
        bicycle: false
        motorcycle: false
        pedestrian: false

      # For target object filtering
      target_filtering:
        # filtering moving objects
        threshold_speed_object_is_stopped: 1.0          # [m/s]
        threshold_time_object_is_moving: 1.0            # [s]
        threshold_time_force_avoidance_for_stopped_vehicle: 10.0 # [s]
        # detection range
        # ここで設定したclearance先に障害物があると車両が一時停止して、回避経路を生成してくれる
        # 障害物の1m手前で車両が一時停止して、回避動作をし始めてくれる
        object_check_force_avoidance_clearance: 30.0    # [m]　元々30.0
        object_check_forward_distance: 150.0            # [m]　元々150.0
        object_check_backward_distance: 2.0             # [m]　元々2.0
        object_check_goal_distance: 20.0                # [m]
        # filtering parking objects
        threshold_distance_object_is_on_center: 1.0     # [m] 元々1.0
        object_check_shiftable_ratio: 0.5               # [-] 元々0.6
        object_check_min_road_shoulder_width: 0.50      # [m]　元々0.5
        # lost object compensation
        object_last_seen_threshold: 2.0

      # For safety check
      safety_check:
        safety_check_backward_distance: 100.0            # [m]
        safety_check_time_horizon: 10.0                  # [s]
        safety_check_idling_time: 1.5                    # [s]
        safety_check_accel_for_rss: 2.5                  # [m/ss]
        safety_check_hysteresis_factor: 2.0              # [-]

      # For avoidance maneuver
      avoidance:
        # avoidance lateral parameters
        lateral:
          lateral_collision_margin: 1.0                 # [m] 元々1.0
          lateral_collision_safety_buffer: 0.7          # [m] 元々0.7
          lateral_passable_safety_buffer: 0.0           # [m]
          road_shoulder_safety_margin: 0.0              # [m]　元々0.0
          avoidance_execution_lateral_threshold: 0.1 # 0.499
          max_right_shift_length: 5.0
          max_left_shift_length: 5.0
        # avoidance distance parameters
        # 障害物を避け始めるタイミングとかを設定しているらしい．
        # デフォルト値だと障害物の十分前から回避をするように計画するため、
        # かなり緩やかな回避経路が生成される。
        longitudinal:
          prepare_time: 2.0                             # [s]   元々2.0
          longitudinal_collision_safety_buffer: 0.0     # [m]
          min_prepare_distance: 1.0                     # [m]   元々1.0
          min_avoidance_distance: 10.0                   # [m]   元々10.0
          min_nominal_avoidance_speed: 7.0              # [m/s] 元々7.0
          min_sharp_avoidance_speed: 1.0                # [m/s] 1.0

      # For yield maneuver
      yield:
        yield_velocity: 2.78                            # [m/s]

      # For stop maneuver
      stop:
        min_distance: 10.0                              # [m]
        max_distance: 20.0                              # [m]

      constraints:
        # vehicle slows down under longitudinal constraints
        use_constraints_for_decel: false                # [-]

        # lateral constraints
        lateral:
          nominal_lateral_jerk: 0.2                     # [m/s3] 0.2
          max_lateral_jerk: 1.0                         # [m/s3] 1.0

        # longitudinal constraints
        longitudinal:
          nominal_deceleration: -1.0                    # [m/ss]
          nominal_jerk: 0.5                             # [m/sss]
          max_deceleration: -2.0                        # [m/ss]
          max_jerk: 1.0
          # For prevention of large acceleration while avoidance
          min_avoidance_speed_for_acc_prevention: 3.0   # [m/s]
          max_avoidance_acceleration: 0.5               # [m/ss]

      target_velocity_matrix:
        col_size: 2
        matrix:
          [2.78, 13.9,                                  # velocity [m/s]
           0.50, 1.00]                                  # margin [m]
