# see AvoidanceParameters description in avoidance_module_data.hpp for description.
/**:
  ros__parameters:
    avoidance:
    # ここだけ変更すると回避しなくなる
      resample_interval_for_planning: 0.3               # [m] 0.3 0.05
      resample_interval_for_output: 4.0                 # [m] 4.0 0.1
      detection_area_right_expand_dist: 0.0             # [m]
      detection_area_left_expand_dist: 0.0              # [m] 1.0 0.0
      drivable_area_right_bound_offset: 0.0             # [m]
      drivable_area_left_bound_offset: 0.0              # [m]
      object_envelope_buffer: 0.0                       # [m] 0.3 1.1

      # avoidance module common setting
      enable_bound_clipping: false #　drivable areaを編集するか
      enable_avoidance_over_same_direction: true
      enable_avoidance_over_opposite_direction: true
      enable_update_path_when_object_is_gone: false
      enable_force_avoidance_for_stopped_vehicle: false
      enable_safety_check: false # safety checkを行うかどうか
      enable_yield_maneuver: false # yield maneuverを行うかどうか
      disable_path_update: false

      # for debug
      publish_debug_marker: true # false true
      print_debug_info: false

      # avoidance is performed for the object type with true
      target_object:
        car: false
        truck: false
        bus: false
        trailer: false
        unknown: true # true
        bicycle: false
        motorcycle: false
        pedestrian: false

      # For target object filtering 回避対象は静止物に限る
      target_filtering:
      #ここだけ変更すると2つ目まで回避する
        # filtering moving objects
        threshold_speed_object_is_stopped: 0.01          # [m/s] 1.0　動いているかどうか
        threshold_time_object_is_moving: 10.0            # [s] 1.0　チャタリング防止
        threshold_time_force_avoidance_for_stopped_vehicle: 10.0 # [s]
        # detection range
        object_check_force_avoidance_clearance: 40.0    # [m] 30.0 1.0
        object_check_forward_distance: 40.0            # [m] 150.0 10.0
        object_check_backward_distance: 0.0             # [m] 2.0 0.0
        object_check_goal_distance: 20.0                # [m]
        # filtering parking objects
        threshold_distance_object_is_on_center: 0.0     # [m] 1.0 0.0
        object_check_shiftable_ratio: 0.0               # [-] 0.6 0.0 物体が路肩に近ければ近いほど，比率の値は大きくなる．shiftable_ratioと比較する．
        object_check_min_road_shoulder_width: 0.0       # [m] 0.5 0.0
        # lost object compensation
        object_last_seen_threshold: 2.0 # 2.0 一度認識した障害物の保持　0なら認識結果は100%信頼できる．

      # For safety check　enable_safety_check: false 関係なし
      safety_check:
        safety_check_backward_distance: 100.0            # [m] 
        safety_check_time_horizon: 10.0                  # [s] 
        safety_check_idling_time: 1.5                    # [s]
        safety_check_accel_for_rss: 2.5                  # [m/ss]
        safety_check_hysteresis_factor: 2.0              # [-]　

      # For avoidance maneuver
      avoidance:
      #1つ目まで回避
        # avoidance lateral parameters ここら辺のパラメータの説明はある
        lateral:
          lateral_collision_margin: 0.0                 # [m] 1.0 0.1
          lateral_collision_safety_buffer: 0.6          # [m] 0.7 0.1 最終防衛ライン．車幅の半分推奨．
          lateral_passable_safety_buffer: 0.0           # [m]
          road_shoulder_safety_margin: 0.2              # [m] 0.3 0.0
          avoidance_execution_lateral_threshold: 0.0    # 0.499 0.0 回避を実行するための、現在の進路と回避提案地点との間の横方向の距離偏差閾値。
          max_right_shift_length: 5.0 # 5.0
          max_left_shift_length: 5.0 # 5.0
        # avoidance distance parameters
        longitudinal:
          prepare_time: 0.0                             # [s] 2.0 0.0
          longitudinal_collision_safety_buffer: 0.0     # [m]
          min_prepare_distance: 0.0                     # [m] 1.0 0.0
          min_avoidance_distance: 0.0                  # [m] 10.0 0.0
          min_nominal_avoidance_speed: 0.1              # [m/s] 7.0 1.0
          min_sharp_avoidance_speed: 0.1               # [m/s] 1.0 0.8 

      # For yield maneuver 　enable_yield_maneuver: false　関係なし
      yield:
        yield_velocity: 0.1                            # [m/s] 2.78

      # For stop maneuver 回避操作が許可されていない状況、または操作における最低停止距離。
      stop:
        min_distance: 1.0                              # [m] 10.0 
        max_distance: 2.0                              # [m]

      constraints:
        # vehicle slows down under longitudinal constraints 各ポイントでの速度を設定するに当たって，制約を設定する．
        use_constraints_for_decel: false                # [-]

        # lateral constraints
        # 1つ目まで回避
        # nominalは障害物までの距離が遠いときの設定
        lateral:
          nominal_lateral_jerk: 0.2                     # [m/s3] 0.2 10.0
          max_lateral_jerk: 2.0                         # [m/s3] 1.0 15.0

        # longitudinal constraints
        longitudinal:
          nominal_deceleration: -1.0                    # [m/ss] -1.0 -10.0
          nominal_jerk: 0.5                             # [m/sss] 0.5
          max_deceleration: -2.0                        # [m/ss] -2.0
          max_jerk: 1.0                               # 1.0
          # For prevention of large acceleration while avoidance
          min_avoidance_speed_for_acc_prevention: 3.0   # [m/s]
          max_avoidance_acceleration: 0.5               # [m/ss] 0.2 0.5

      target_velocity_matrix:
        col_size: 2
        matrix:
          [2.78, 13.9,                                  # velocity [m/s]
           0.50, 1.00]                                  # margin [m]